header{
    background-image: url("https://mir-s3-cdn-cf.behance.net/fa6047ccfae4e7df156982fbd57dcb9c/439457b7-7b60-4f5b-8fc9-60f9a6ed45a4_rwc_-2x660x3437x367x3437.jpg?h=16a7c20d54787d09fc2bd42ef973f91a")
    
}

.flex{
    text-align: left;
    display: flex;

}
#topnav{
display: flex;
justify-content: space-around;
height: 250px;
}
.profile{
    display: flex;
    border-width:0.5px;
    border-color: black;
    margin-top: -150px;
    background-color: white;
    flex-direction: column;
    width: 300px;
    text-align: center;
   
    
}
.picture{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    
   

}
.grid-container{
    display:grid;
    height: 100vh;
    gap:3px;
    grid-template-columns: auto auto;
}
.item{
    width: auto;
    border-width: 5px;
    

}