header{
    width: 100vw;
    background-image: url("https://mir-s3-cdn-cf.behance.net/fa6047ccfae4e7df156982fbd57dcb9c/439457b7-7b60-4f5b-8fc9-60f9a6ed45a4_rwc_-2x660x3437x367x3437.jpg?h=16a7c20d54787d09fc2bd42ef973f91a");
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-position:0% 0%;
}

body{
    margin: 0px;
}
.flex{
display: flex;
width: 100vw;

}

#topnav{
display: flex;
justify-content: space-around;
height: 200px;
width: 100%;
margin-top: 10px;
}
#middle-nav{
    display: flex;
    justify-content:space-around;
    width: 80%;
    margin-top: 50px;
    margin-left: 20%;
    background-color: white;

}

.profile{
    display: flex;
    border-width:0.5px;
    border-color: black;
    margin-top: -100px;
    background-color: white;
    flex-direction: column;
    width: 20%;
    text-align: center;
    
   
    
}
.table{
    text-align:justify;
}
.picture{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    justify-self: center;  

}


.grid-container{
    display:grid;
    
    width: 80%;
    gap:3px;
    grid-template-columns: auto auto auto auto;
  
}
.item img{
    
    width: 100%;
    height: auto;
    border-radius: 5%;

}
.item{
    width: 100%;
    height: auto;
}